@import "../variables/colors";

input, textarea {
    &:focus {
        outline: #62bbe9 auto 1px;
    }
}

textarea {
    resize: vertical;
}

input[type="text"], input[type="search"] {

    &:hover {
        border-color: #74b2e2;
    }
}

.custom-checkbox {
  background-color: #f2f2f2;
  border: 1px solid #9dcff7;
  position: absolute;
  border-radius: 2px !important;
  background: #deedf7;
  cursor: pointer;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);

  &:hover {
    border-color: #bbbbbb !important;
  }

  &__wrapper {
    padding-left: 23px;
    position: relative;

    &.sm {
        padding-left: 15px;

        .custom-checkbox {
            width: 10px;
            height: 10px;

            &__check {
                width: 8px;
                height: 8px;
                top: 1px;
                left: 1px;
            }
        }
    }

    &.light {

      .custom-checkbox {
        background: #dfedf8;
      }
    }

    &.light-blue {

      .custom-checkbox {
        background: #f2f5f7;
      }
    }

    &.no-title {
      padding-left: 0;
      position: static;

      .custom-checkbox {
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    &.square-checkbox {

      .custom-checkbox {
        background-color: #f2f2f2;
        border-color: #9dcff7;
        border-radius: 2px;
      }

      input[type="checkbox"] {

        &:checked + .custom-checkbox {
          background-color: white;
          border-color: #2779aa;
        }
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0 !important;
      position: absolute;

      &:checked + .custom-checkbox {
        .custom-checkbox__check {
          opacity: 1;
        }
      }
    }
  }

  &__check {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
    opacity: 0;
  }
}

#vtp-search-input {
  input {
    height: 18px;
    background: #ffffff8f;
    margin-right: 23px;
    border-radius: 5px;
    padding: 0 20px 0 15px;
    width: 230px;
    color: #3d80b3;
    font-size: 12px;
  }

  i.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 43px;
    font-size: 11px;
    color: #3d80b3;
  }
}

mark {
  background-color: #3d80b3;
  color: white;
}

.has-cross-icon {
    position: relative;

    i.fa-times {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%) translateX(10px);
        transition: .3s;
        opacity: 0;
        z-index: -1;
        color: #3d80b3;
        margin: 1px 0 0;
        font-size: 12px;

        &.show {
            opacity: 1;
            z-index: 1;
            transform: translateY(-50%) translateX(0);
        }
    }
}
.div_notify {
  padding: 7px 0px;
}

.div_notify label {
  color: #362b36 !important;
  font-size: 13px !important;
}