.env
/.idea
/.vagrant/
/.docker-sync/
/application/public/build
/application/var/log
/application/node_modules/
/application/web/build/pdf.editor.js
/application/web/js/
/application/web/js/tinymce/
/application/web/css/
/application/.netbeans.xml
/application/nbproject/private/
!/downloads/.gitkeep
/downloads/
!/backups/.gitkeep
/backups/
!/devops/docker/states/db/vitoop/.gitkeep
/devops/docker/states/db/vitoop/
/devops/docker/dump.sql
/devops/docker/php/www.conf
