/.idea
/.vagrant/
/application/node_modules/
/application/web/build/pdf.editor.js
/application/web/js/
/application/web/js/tinymce/
/application/web/css/
/application/.netbeans.xml
/application/nbproject/private/
/downloads