{% extends "Resource\home.html.twig" %}
{% block title %}Auf Wiedersehen{% endblock %}
{% block content %}
    <p>Du wurdest jetzt ausgeloggt.</p>
    <p>Auf Wiedersehen und bis bald!</p>
{% endblock %}