input {

  &[type="checkbox"] {
    //opacity: 0;
    //height: 0;
    //width: 0;

    //& + label {
    //  position: absolute;
    //  width: 14px;
    //  height: 14px;
    //
    //  &:after, &:before {
    //    position: absolute;
    //    content: '';
    //    display: block;
    //  }
    //
    //  &:before {
    //    top: 0;
    //    left: 0;
    //    border: 1px solid;
    //    border-radius: 50%;
    //    width: 14px;
    //    height: 14px;
    //  }
    //
    //  &:after {
    //    width: 10px;
    //    height: 10px;
    //    background-image: url("../../img/check.png");
    //    background-size: cover;
    //    background-position: center;
    //    background-repeat: no-repeat;
    //    top: 56%;
    //    left: 54%;
    //    transform: translate3d(-50%,-50%,0);
    //    transition: .3s;
    //    opacity: 0;
    //  }
    //}

    //&:checked + label {
    //
    //  &:after {
    //    opacity: 1;
    //  }
    //}
  }
}

.custom-checkbox {
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate3d(-50%,-50%,0);

    input[type="checkbox"] {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;

      &:checked + .custom-checkbox {
        .custom-checkbox__check {
          opacity: 1;
        }
      }
    }
  }

  &__check {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
    opacity: 0;
  }
}