.quill-editor {

  .ql-toolbar {
    background-image: linear-gradient(to bottom, #fff, #cfe7f7);

    button {
      background-image: linear-gradient(to bottom, #cfe7f7, #f2f5f7) !important;
    }
  }

  .ql-formats {
    border: 1px solid #b3b3b3;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.25);
    margin: 0 4px 4px 0;
  }

  .ql-editor {
    font-size: 14px;
  }
}