{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block cmstitle %}
    {% if project is defined %}
        <div id="vtp-projectdata-title" class="ui-corner-all">
            <span>Projekt: {{ project.name }}</span><input type="hidden" id="projectID" value="{{ project.id }}"/>
            {% if (showasprojectowner is not null) and (showasprojectowner) %}
                <span id="vtp-projectdata-project-live" class="ui-icon ui-icon-clipboard ui-corner-all"></span>
                <span id="vtp-projectdata-project-edit" class="ui-icon ui-icon-wrench ui-corner-all"></span>
            {% endif %}
            <span id="vtp-projectdata-project-close" class="ui-icon ui-icon-close ui-corner-all"></span>
        </div>
    {% endif %}
    {% if lexicon is defined %}
        <div id="vtp-lexicondata-title" class="ui-corner-all">
            <span>Lexikon: {{ lexicon.name }}</span><span id="vtp-lexicondata-lexicon-close" class="ui-icon ui-icon-close ui-corner-all"></span>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% include homecontenttpl %}
{% endblock %}
