{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}Registrierung{% endblock %}
{% block content %}
    <div id="vtp-login" class="ui-corner-all">
        <form action="{{ path('password_new',{'token':token}) }}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="vtp-fh-top">                
                <label for="email" class="vtp-fh-w50">Password:</label>                
                <input class="vtp-fh-w50" type="password" name="password" onchange="form.pwd2.pattern = this.value;">
            </div>
            <div class="vtp-fh-top">  
                <label for="email" class="vtp-fh-w50">Confirm Password:</label>   
                <input class="vtp-fh-w50" type="password" name="pwd2">
            </div>            
            {% for flashMessage in app.session.flashbag.get('sucess') %}
                <div class="vtp-uiinfo">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="vtp-submit-wrapper">
                <input value="sparen" type="submit">
            </div>
        </form>
    </div>
{% endblock %}