{% extends "VitoopInfomgmtBundle:Tag:layout.html.twig" %}
{% block content %}
    <fieldset class="ui-corner-all margin-top-3">
        {% for tag in tags %}
            {% set current_tag = tag[0] %}
            <div class="vtp-fh-w100" style="margin-bottom: 3px">
                <div class="vtp-fh-w35">
                    {{ current_tag.text }}:
                </div>
                <div class="vtp-fh-w10">
                    {{ tag['cnt'] }}
                </div>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}