{% extends 'VitoopInfomgmtBundle:View:resource.layout.html.twig' %}

{% block pdfview %}
    <div id="pdf-view-wrapper">
        <div id="pdf-view" class="pdfViewer"></div>
    </div>
{% endblock pdfview %}