$blue-frame-border: 1px solid #aed0ea;
$blue-active-frame-border: 1px solid #2694e8;
$white-frame-border: 1px solid #ffffff;
$white-toolbar-frame-border: 2px solid #f2f5f7;;
$vitoop-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$vitoop-body-color: #362b36;
$vitoop-blue-color: #2779aa;
$vitoop-body-background-color: #f2f5f7;
$vitoop-red-color: #ff0000;
$vitoop-selected-color: #0070a3;
$vitoop-even-background-color: #deedf7;
$menu-distance: 4px;
$wide-iconbutton-width: 29px;
$table-row-height: 25px;
$vitoop-select-background: #d7ebf9 url("../img/ui-bg_glass_80_d7ebf9_1x400.png") 50% 50% repeat-x;
$vitoop-widget-background: #f2f5f7 url("../img/ui-bg_highlight-hard_100_f2f5f7_1x100.png") 50% top repeat-x;
$vitoop-selected-background: #e4f1fb url("../img/ui-bg_glass_100_e4f1fb_1x400.png") 50% 50% repeat-x;