{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}{{'label.credentials'|trans}}{% endblock %}
{% block content %}
    <div id="vtp-user-settings">
        <user-settings></user-settings>
    </div>
{% endblock %}

{% block footerjs %}
{{ parent() }}
    <script>
        new Vue({
            el: '#vtp-user-settings',
            components: {UserSettings}
        }).$mount('#vtp-user-settings');
    </script>
{% endblock footerjs %}