<div id="vtp-login" class="ui-corner-all">  
    Hi {{ usernname }},
    <br><br>    
    Click here to reset your password <a href='{{ app.request.getSchemeAndHttpHost() }}{{path('password_new',{'token':token})}}'>Change Password </a>
    <br/> <br/>--<br>vitoop.org
</div>