{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}Impressum{% endblock %}
{% block content %}
    <fieldset class="ui-corner-all margin-top-3">
        <div id="vtp-imprint" class="ui-corner-all">
            <h2>
                Impressum
            </h2>
            <p>
                Angaben gemäß § 5 TMG:
            </p>
            <p>
                David Rogalski <br/>
                Graumannsweg 32<br/>
                22087 Hamburg
            </p>
            <p>
                Kontakt:<br/>
                Telefon: +49 (0) 176 568 737 75<br/>
                E-Mail: info@vitoop.org
            </p>
            <p>
                Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br/>
                David Rogalski<br/>
                Graumannsweg 32<br/>
                22087 Hamburg
            </p>
            <h3>
                Allgemeine Datenschutzerklärung
            </h3>
            <p>
                Durch die Nutzung unserer Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der nachfolgenden Beschreibung einverstanden. Unsere Website kann grundsätzlich ohne Registrierung besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.
            </p>
            <h3>
                Datenschutzerklärung für Cookies
            </h3>
            <p>
                Unsere Website verwendet Cookies. Das sind kleine Textdateien, die es möglich machen, auf dem Endgerät des Nutzers spezifische, auf den Nutzer bezogene Informationen zu speichern, während er die Website nutzt. Cookies ermöglichen es, insbesondere Nutzungshäufigkeit und Nutzeranzahl der Seiten zu ermitteln, Verhaltensweisen der Seitennutzung zu analysieren, aber auch unser Angebot kundenfreundlicher zu gestalten. Cookies bleiben über das Ende einer Browser-Sitzung gespeichert und können bei einem erneuten Seitenbesuch wieder aufgerufen werden. Wenn Sie das nicht wünschen, sollten Sie Ihren Internetbrowser so einstellen, dass er die Annahme von Cookies verweigert.
            </p>
            <h3>
                Disclaimer
            </h3>
            <p>
                Inhalt und Werke dieser Website sind urheberrechtlich geschützt. Trotz höchster Sorgfalt kann nicht für die Richtigkeit der wiedergegebenen Informationen oder die permanente technische Erreichbarkeit garantiert werden. Es wird keine Haftung für den Inhalt von extern verlinkten Websites übernommen. Auf deren Inhalte haben wir keinen Einfluss und distanzieren uns ausdrücklich. Sollten Sie dennoch etwas an unseren Seiten zu beanstanden haben, bitten wir um einen einfachen entsprechenden Hinweis, damit wir die Inhalte schnellstmöglich entfernen können.
            </p>
            <p>
                Quelle: <a href="http://www.anwalt.de/vorlage/impressum-generator.php" target="_blank" style="color: black; text-decoration: underline">
                    Impressum-Generator von anwalt.de
                </a> speziell für Privatperson.
            </p>
        </div>
    </fieldset>
{% endblock %}