{# VitoopInfomgmtBundle:Resource:xhr.resource.data.lex.html.twig #}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    <div>
        <p>Lexikoneinträge können nicht bearbeitet werden</p>
    </div>
    <div class="vtp-fh-bottom">
        <div class="vtp-fh-infosave-box vtp-fh-w70">
            Eingetragen am: {{ res.createdat|date('d.m.Y') }}{% if res.getUser is not null %} / von: {{ res.getUser.getUsername }}{% endif %} / ID: {{ res.getId }}
        </div>
    </div>
</fieldset>
