<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-previous"></button>
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-next"></button>
{#<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-save"></button>#}
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-delete"></button>
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-new"></button>
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-blame"></button>