{# VitoopInfomgmtBundle:Resource:xhr.resource.data.lex.html.twig #}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    <div>
        <p>Lexikoneinträge können nicht bearbeitet werden</p>
    </div>
</fieldset>
