<div id="vtp-login" class="ui-corner-all">  
    Hi {{ username }},
    <br><br>    
    Klick hier um dein Passwort zu ändern: <a href='{{ app.request.getSchemeAndHttpHost() }}{{path('password_new',{'token':token})}}'>Change Password </a>
    <br/> <br/>--<br>vitoop.org
</div>