<html>
<head></head>
<body>
    <p>Hallo!</p>

    <p>Hiermit bist Du herzlich zu vitoop eingeladen.</p>
    <p>Du kannst Dich registrieren unter: {{ link }}</p>
    <p>(Beachte bitte, dass dieser Link nur gilt bis zum {{until|date('d.m.Y')}} um {{until|date('H:i:s')}} Uhr)</p>

    <p>.. ich w?nsche Dir viel Spa? beim St?bern, Zusammenstellen und Eintragen von neuen Datens?tzen.</p>
    <p></p>
<p>Gru?<br>
David Rogalski</p>
</body>
</html>