<html>
<head></head>
<body>
    <p>Juhu!</p>

    <p>Hiermit bist Du herzlich zu vitoop eingeladen.</p>
    <p>Du kannst Dich registrieren unter: {{ link }}</p>
    <p>(Beachte bitte, dass dieser Link nur gilt bis zum {{until|date('d.m.Y')}} um {{until|date('H:i:s')}} Uhr)</p>

    <p>.. ich wünsche Dir viel Spaß beim Stöbern, Zusammenstellen und Eintragen von neuen Datensätzen.</p>
    <p></p>
<p>Gruß<br>
David Rogalski</p>
</body>
</html>
