{% block dialogs %}
    <div id="vtp-res-dialog" style="display:none">
        <div id="vtp-res-dialog-tabs">
            <ul>
                <li><a href="#tabs-quickview">Übersicht</a></li>
                <li id="tab-title-remark"><a href="#tabs-remark">Anmerkungen</a></li>
                <li id="tab-title-remark-private"><a href="#tabs-remark_private">p</a></li>
                <li id="tab-title-comments"><a href="#tabs-comments">Kommentare</a></li>
                <li id="tab-title-rels"><a href="#tabs-assignments">Verknüpfungen</a></li>
            </ul>
            <div id="tabs-quickview">
                <div id="resource-quickview">
                    <div id="resource-rating"></div>
                    <div id="resource-data"></div>
                    <div id="resource-tag"></div>
                </div>
                <div id="resource-help" style="display:none">
                    <fieldset class="ui-corner-all">
                        <legend>Wo wird welcher Datensatz eingetragen</legend>
                        <div style="color: #3d80b3">
                            <p>Hier kannst Du einen neuen Datensatz eintragen <strong>(Klick auf den oberen Knopf)</strong>. Damit die Aufteilung zwischen Pdf, Textlink usw. Sinn macht, ist es wichtig, dass die Datensätze in der richtigen Kategorie eingetragen werden:</p>
                            <p><strong>Pdf:</strong> Hier kommen nur Pdfs rein mit der URL-Endung ".pdf"</p>
                            <p><strong>Texlink:</strong> Alle Seiten bei denen es hauptsächlich was zum Lesen gibt, außer Pdfs.</p>
                            <p><strong>Link:</strong> Startseiten einer Internetpräsenz und Seiten, die den eigentlichen Inhalt nicht selbst anzeigen, sondern eine große Anzahl von Links enthalten kommen hier rein.</p>
                            <p><strong>Projekt, Lexikon und Buch</strong> ist selbsterklärend. Wenn ein Datensatz falsch eingetragen ist, wird er möglicherweise gelöscht.</p>
                        </div>
                        <div style="text-align: right; color: #2779aa; margin: 15px 5px 5px;">
                            <p>
                                <input type="checkbox" name="user_show_help" {%if app.user and app.user.getIsShowHelp()%}checked{%endif%} id="user_show_help" style="-webkit-appearance: checkbox;">
                                <label for="user_show_help">Hinweis automatisch anzeigen</label>
                            </p>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="tabs-remark">
                <div id="resource-remark"></div>
            </div>
            <div id="tabs-remark_private">
                <div id="resource-remark_private"></div>
            </div>
            <div id="tabs-comments">
                <div id="resource-comments"></div>
            </div>
            <div id="tabs-assignments">
                <div id="resource-assignments">
                    <div id="resource-lexicon"></div>
                    <div id="resource-project"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="vtp-res-dialog-help" title="Hilfe"></div>
    <div id="vtp-res-dialog-links" style="display:none">
        {# render(controller('VitoopInfomgmtBundle:UserLink:userLinks')) #}
    </div>
    <div id="vtp-res-dialog-prompt-links" style="display: none"></div>
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'User/termsTinyMce.html.twig' %}
        {% include 'User/datapTinyMce.html.twig' %}
    {% endif %}
{% endblock %}
