{# <button class="vtp-uistyle-iconbutton vtp-uiaction-detail-save"></button> #}
{#<button id="vtp-detail-help" class="vtp-uistyle-iconbutton vtp-uiaction-detail-help"></button>#}
<button id="vtp-detail-help"
        class="ui-button ui-widget ui-corner-all ui-button-icon-only ui-state-default"
        role="button" title="help" style="height: 20px; width: 58px; border: 1px solid #a6d4f7;">
    <span class="ui-button-icon-primary ui-icon ui-icon-help"></span>
    <span class="ui-button-text">help</span>
</button>
