<html>
<head></head>
<body>
<p>Hello David!</p>
<p></p>
<p>It is seems that downloads folder {{ message }}. Current size is {{ size }} Mb. Check it please.</p>

<p>Best regards,<br/>
    Vitoop.</p>

</body>
</html>