.ui-corner-all {
    behavior: url(PIE.htc);
}
/*
fieldset {
    margin-top: 10px;
}

legend {
    display: inline-block;
    position: relative;
    height: 20px;
    top: -15px;
    background-color: #f2f5f7;
}
*/