{% block lock_widget_widget %}
    <div class="lockwidget_widget">
        {% spaceless %}
            {% for child in form %}
                {% if not child.rendered %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </div>
{% endblock %}