{% block lock_widget_widget %}
    <div class="lockwidget_widget">
        {% apply spaceless %}
            {% for child in form %}
                {% if not child.rendered %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        {% endapply %}
    </div>
{% endblock %}