#button-checking-links__wrapper {
    overflow: hidden;
    width: 280px;
    display: flex;
    transition: 1s;
    opacity: 0;
    position: relative;
    left: -300px;

    *:not(:last-child) {
        margin-right: 3px;
    }
}

#user-projects-button {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
}

#user-projects-menu {
    width: 266px !important;

    .ui-menu-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block !important;
    }

    .ui-state-focus {
        margin: 0;
    }
}

#vtp-user-userdata, #vtp-admin-toolbar-toggle {
    width: 34px;
}

#vtp-user-userdata {

    i.fa, i.fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
    }
}
